.container_error{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
 }

.error{
color: #FF6060;
text-align: center;
font-family: Montserrat;
font-size: 150px;
font-style: normal;
font-weight: 700;
position: relative;
}

.error_msg{
color: #FF6060;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 500;
}

.return{
color: #FF6060;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
padding-top: 100px;
margin-bottom: 45px;
text-decoration-line: underline;
}

/* Styles pour les écrans de taille moyenne (tablette) */
@media (max-width: 768px) {
.container_error{
    margin-bottom: 45%;
    }
}

/* Styles pour les écrans étroits (téléphones mobiles) */
@media (max-width: 480px) {
    .container_error{
        margin-bottom: 45%;
    }

    .error,
    .error_msg{
        width: 412px;
        margin-top: 70px;
    }

    .error{
        font-size:30px !important;
    }

    .return{
        margin-top: 40px;
    }
    
}