.about_banner{
    border-radius: 25px;
    width: 100%;
    height: 230px;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    color: white;
    opacity: 0.9;
    margin-bottom: 75px;
    margin-left:28px;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

}

h1{
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    z-index: 1;
    position: absolute;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

}

.about_banner_img{
    border-radius: 0.8rem;
    filter: brightness(70%);
    height: 190px;
    object-fit: cover;
    position: relative;
    width: 100%;
}