.header{
    display: flex;
    height: 68px;
    justify-content: center;
    align-items: center;
    gap: 421px;
    padding-top: 20px;
    padding-bottom: 63px;
 
}

.header_logo{
    width: 210.322px;
    height: 68px;
    flex-shrink: 0;
    padding-right: 330px;
    
}

.nav {
    width: 309px;
    height: 34px;
    flex-shrink: 0;
    
}

.nav_home{
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; 
    text-decoration-line: none;
    width: 136px;
    margin-right: 53px;
    margin-left: 60px;
}

.nav_home_underlined{
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; 
    text-decoration-line: none;
    width: 136px;
    margin-right: 53px;
    margin-left: 60px;
text-decoration: underline;
}

.nav_about{
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; 
    width: 116px;
    text-decoration-line: none;
    
}

.nav_about_underlined{
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; 
    width: 116px;
    text-decoration: underline;
    
}

                                /*--------------------------- RESPONSIVE DESIGN ------------------------------*/


            /* -----------------------> Styles pour les écrans de taille moyenne (tablettes) <----------------------------------- */
@media (max-width: 768px) {
   
    .header{
        gap: 0px;
    }
}

            /* -----------------------> Styles pour les écrans étroits (téléphones mobiles) <----------------------------------- */
@media (max-width: 480px) {

 
    .nav_home_underlined{
        margin-left: 0px;
        font-size: 20px;
    }

    .nav_about_underlined{
        font-size: 20px;
        margin-left: 85px;
    }

    .nav_about{
        font-size: 20px;
        margin: -40px;
    }

    .nav_home{
        font-size: 20px;
        position: absolute;
        right: 80px;
    }

    .header {
        padding: 0px 0px 0px 0px;
        gap: 0px;
        width:380px;
        justify-content: left;
        margin-left: 15px;
    }

    .header_logo {
        width: 240px; 
        padding:0;
    }
    
    .nav{
        width:200px;
        margin-left: -40px;
    }
}
