.banner{
    position: relative;
    border-radius: 25px;
    height: 223px;
    max-width: 95%;
    margin: 43px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/home_cover.png');
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    color: white;
    opacity: 0.9;;
    margin-bottom: 30px;
}

.h1{
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 68.448px */
}

