.card{
   
    width: 340px;
    height: 340px;
    border-radius: 25px;
    margin: 100px;
    padding: 40px;
    background-position: center;
    background-size: cover;
    color: white;
}
.card_inside
{
    width: 340px;
    height: 340px;
    border-radius: 25px;
}
.flat_name
{
    color: black;
}
