/* Importation de la police Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.accommodation{
    display: flex;
    flex-direction: column;

}

.carrousel{
    width: 1240px;
    height: 415px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}

.contenu{
    width: 1240px;
    height: 600px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
}

.container_name{
    display: flex;
    flex-direction: row; 
}

.container_tags{
    display: flex;
    flex-direction: initial;
    align-items: center; 
    width: 80%;
}

.name{
    color: #FF6060;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    font-family:'Montserrat';
    padding-top:20px;
    display: flex;
    justify-content: center;
}

.first_name{
    color: #FF6060;
    font-family: Montserrat;
    font-family:'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top: 18px;
    position: absolute;
    right: 535px;
    
}

.last_name{
    color: #FF6060;
    font-family: Montserrat;
    font-family:'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top: 18px;
    position: absolute;
    right: 535px;
    top:600px;
  
}




.location{
    color: #FF6060;
    font-family: Montserrat;
    font-family:'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.tags{
    color: #FFF;
    text-align: center;
    font-family:'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 200.6%;
    border-radius: 10px;
    background: #FF6060;
    width: 115px ;
    height: 30px;
    margin-right: 10px;
}

.rates{
    width:60px;
    height: 60px;
    flex-shrink: 0;
    margin-left: 50px;
    margin-top: 35px;
}

.stars_tags{
    display: flex;
    flex-direction: row;
}


.container_text{
    display: flex;
    flex-direction: row;
}

.description{
 
    flex-shrink: 0;
    color:#FF6060;
    margin-top: 15px;
    font-family:'Montserrat';
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%;
    width: 582px;
    
}

.description ul{
    margin-left: 0;
    margin-top:0;
}

.equipment{
    width: 582px;
    height: 50%;
    flex-shrink: 0;
    color:#FF6060;
    margin-left: 30px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%;
}

.details{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  
}

.headers{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: column;
    
}

.collapsedescription{
    display: flex;
    flex-direction: row;
    width: 582px;
    height: 52px;
    flex-shrink: 0;
    background-color:#FF6060;
    color:#FFF;
    border-radius: 5px;
    
}
 
.description.collapsed {
    visibility: hidden;
}

.collapse_title{
    font-family:'Montserrat';
    margin-left:15px;
    margin-top: 5px;
    width: 80%;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 210.6%
}

.collapse_arrow{
    margin-left: 155%;
    margin-top: 10px;
}

.img_host{
    border-radius: 3rem;
    height: 80px;
    margin-top: 10px;
    position: absolute;
    right: 430px;
  
}
body{
    margin:0 !important;    
}

/* Styles pour les écrans de taille moyenne (tablette) */
@media (max-width: 768px) {
    .img_host{
        right: 27px;
    }

    .first_name, 
    .last_name{
        right: 130px;
    }

       
    .stars_tags{
        margin-right: 135px;
    }

    .name{
        font-size: 20px;
    }
    
    .collapsedescription{
        width: 350px;
    }
    .collapse_arrow{
        margin-left: 0;
        margin-top: 10px;
    }
    .details{
        margin-left: 0;
        margin-right: 0;
        display: flex;
        justify-content: center;
      
    }
    .description{
 
        flex-shrink: 0;
        color:#FF6060;
        margin-top: 15px;
        font-family:'Montserrat';
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 142.6%;
        width: 350px;
        
    }
    .contenu{
        width: 738px;
        height: 900px;
        flex-shrink: 0;
        margin-left: 15px;
    }
   
    
    #root
    {
        width:768px;
    }
    
}
