.banner{
    position: relative;
    border-radius: 25px;
    width: 70%;
    height: 223px;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    color: white;
    opacity: 0.9;
    margin-bottom: 75px;
    margin-left: 16%;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

}

h1{
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    z-index: 1;
    position: absolute;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

}

.banner_img{
    border-radius: 0.8rem;
    filter: brightness(70%);
    height: 190px;
    object-fit: cover;
    position: relative;
    width: 100%;
}


/* Styles pour les écrans de taille moyenne (tablette) */
@media (max-width: 768px) {
    .banner {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 5px;
    }
    h1 {
        font-size: 36px !important;
    }
    .banner_img {
        height: 150px;
        width: 95%;
    }
}

/* Styles pour les écrans étroits (téléphones mobiles) */
@media (max-width: 480px) {
    .banner {
        width: 86%;
        border-radius: 0;
        margin:0px 0;
    }
    h1 {
        font-size: 18px !important;
        
    }
    .banner_img {
        height: 120px;
    }
}