.card{
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
    box-shadow: 0 0 5px;
}

.flat_title{
    background: linear-gradient(0deg,rgba(0,0,0,.7) 13%,rgba(0,212,255,0) 70%);
    border-radius: 0 0 0.5rem 0.5rem;
    bottom: 0;
    height: 150px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1; 
}